body{
    background-color: #FFEFD5;
    color: #8B4513;
    width: 60%;
    margin-left: 15%;
    margin-bottom: -25%;
}

table, th, td {
    border: 1px solid black;
    margin:auto;
    border-collapse: collapse;
}

a{
    color: #8B4513;
}

a :hover{
    color: #8B4513;
}

h1{
    color: darkgrey;
    height: 100px;
    background-repeat: no-repeat;
    margin-left: auto;
    position: relative;
    top: -20px;
}

.csiposseg{ 
    position: relative;
    right: -35%;
    bottom: 350px;
    width: 80%;
}

.bemutat{
    position: relative;
    right: -35%;
    bottom: 350px;

}

.fajtai{
    width: 20%;
}

li{
    border: 1px solid lightblue;
    margin: 0 80% 0 0;
    text-align: center;
    background-color: white;
}