body{
    background-color: #FFEFD5;
    color: #8B4513;
    width: 70%;
    margin-left: 15%;
}
table, th, td {
    border: 1px solid black;
    margin:auto;
    border-collapse: collapse;
}
a{
    color: #8B4513;
}
a :hover{
    color: #8B4513;
}
h1{
    color: darkgrey;
    height: 100px;
    background-position:center;
    background-repeat: no-repeat;
    margin-left: auto;
}
.csiposseg{
    margin-left: 40%;
    margin-bottom: -20%;
    position: relative;
}
.bemutat{
    margin-left: 40%;
       
}   
.fajtai{
    padding-right: 80%;
}
li{
    border: 1px solid lightblue;
    margin: 0 70% 0 0;
    text-align: center;
    background-color: white;
}